@function set-theme($theme, $theme-name) {
  $theme: $theme !global;
  $theme-name: $theme-name !global;
  
  @return $theme;
}

// Usage: background: from-theme(background, theme?: string)
@function from-theme($key, $theme-name: null) {
  $result: ();
  
  @if $theme-name == null {
    // Get variable from current theme
    $result: map-get($theme, $key);  
  }
  @else {
    // Get variable from specific theme
    $_theme: map-get($themes, $theme-name);
    $result: map-get($_theme, $key);
  }
  
  @return $result;
}